.idea/
*.iml
/.act*
/target/
.classpath
.project
.settings/
/tmp/
/*.log
/test_drive
_sys_start.do.not.delete
act_start.id
backup
/upload
.app.id.do-not-delete
.global.id.do-not-delete
**/.~*.xlsx
_sys_metric.do.not.delete
/doc/.*
dump
*.do.not.delete
